@{
}

@model Book

<!-- EXTRA BOOTSTRAP 2.0 - added a box shadow to the book cards -->
<div class="card card-outline-primary m-1 p-1 shadow p-3 mb-5 bg-white rounded">
    <div class="bg-faded p-1">
        <h3>
            @Model.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </h3>

        <ul>
            <li>Author: @Model.Author</li>
            <li>Pages: @Model.PageCount</li>
            <li>ISBN: @Model.Isbn</li>
            <li>Publisher: @Model.Publisher</li>
            <li>Category: @Model.Category</li>
            <li>Classification: @Model.Classification</li>
        </ul>
    </div>
    <!-- takes user to the cart and passes in needed info to calculate price totals -->
    <form method="post" asp-page="/Purchase">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span>
            <button type="submit" class="btn btn-success btn-sm float-right">Add to cart</button>
        </span>
    </form>

</div>
